.create-viw{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  }
  .viw-container{
    position:absolute;
    min-height: 80%;
    min-width: 80%;
    max-width: 70%;
    max-height:calc(88% - 100px);
    overflow-y:auto ;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.8;
    backdrop-filter: blur(16px);
    border-radius: 16px;
    color: white;
    }
  .viw-header{
    position: relative;
    padding-bottom: 12px;
    font-size: 16px;
    font-size: 22px;
    margin-bottom: 22px;

    }
    .viw-header::after{
      content:"";
      position: absolute;
      height: 3px;
      border-radius: 3px;
      background-color: white;
      width: 300px;
      font-weight: bold;
      left:0;
      bottom: 0;
     }
    .viw-Title{
      text-align: center;
      margin-top: 16px;
      margin-bottom: 38px;
    }
  .viw-description{
    text-align:start;
  }
    .viw-content{
      margin-top: 30px;
    width: 100%;
    height: 88px;
    padding:6px;
    outline: none;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    color: white;
    border-width: 1px;
    resize: none;
  }
 .viw-count{
    text-align:end;
 }
 .viw-button-div{
  margin-top: 8px;
 text-align: end;
}
.viw-comment-box{
  margin-top: 16px;
border-style:solid;
  border-color: white;
  border-width: 1px;
  border-radius:3px;
  padding: 3px;

  }
  .viw-ere{
display: flex;

  }
  .viw-user{
    margin-right: 6px;
  }
  .viw-rep{
    margin-top: 2px;
  }
.onn{
  margin-right: 8px;
}
/* .d-button{
  position: absolute;
  top: 16px;
  right: 16px;
} */
